@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'IBM Plex Mono', monospace;
}

.section {
  min-height: 100vh;
  /* scroll-snap-align: start; */
}

.blur-transition {
  transition: filter 0.3s ease-out;
}

html {
  scroll-snap-type: y mandatory;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
